<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mybatisplus.mapper.UpmsUserExtMapper">
  <resultMap id="BaseResultMap" type="com.demo.mybatisplus.model.UpmsUser">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="create_dts" jdbcType="TIMESTAMP" property="createDts" />
    <result column="update_dts" jdbcType="TIMESTAMP" property="updateDts" />
  </resultMap>

  <resultMap id="UpmsUserMiniRes" type="com.demo.mybatisplus.model.res.UpmsUserMiniRes">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
  </resultMap>


  <sql id="Base_Column_List">
    user_id, username, password, realname, avatar, phone, email, sex, locked, create_dts,
    update_dts
  </sql>

  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from upms_user
    where username = #{username,jdbcType=VARCHAR}
  </select>

    <select id="selectUpmsUserMiniSelectList" resultType="com.demo.mybatisplus.model.res.UpmsUserMiniRes">
        select user_id, realname from upms_user
    </select>
</mapper>